<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Nvhlession03View - <a asp-area="" asp-controller="NvhHome" asp-action="NvhAbout">Thông tin</a>
    </div>

    <div class="col-3">
        @await Component.InvokeAsync("NvhDemo")
    </div>
</footer>