@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2210900031</p>
    <p>Họ và tên: Nguyễn Văn Huỳnh</p>
    <p>Lớp: K22CNT3</p>
    <p>Email:huynhnguyen@gmail.com</p>
    <p>
        Điện thoại:
        <a href="tel:0911237896">0911 237 896</a>
    </p>
</div>